@{
    ViewData["Title"] = "Spaces";
}

<div class="text-center">
    <h1>Spaces</h1>
    <div>
    <ul>
        <li>
            <h2>@ViewBag.Listing1.Name</h2>
            <p>@ViewBag.Listing1.Description</p>
            <p>@ViewBag.Listing1.Price</p>
        </li>
    </ul>
    </div>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>    using Microsoft.AspNetCore.Http.Features;
    using Microsoft.AspNetCore.Http.Features;
 